---
---

@import "constants";

.info-page-container {
  .menu-content-container {
    .menu-contact-item {
      display: block;
      font-size: $P24;
      font-weight: 500;
      color: #222;
      text-decoration: none;
      transition: opacity $TRANSITION-PERIOD linear;

      &:hover {
        opacity: 0.7;
      }
    }

    .menu-newsletter-container {
      padding: $P33 0 $P66;

      .menu-newsletter-intro {
        font-size: $P24;
        font-weight: 500;
        color: #222;
      }
    }
  }

  .about-container {
    img {
      display: block;
      width: 100%;
      padding: $P66 $P99 0;
    }

    .about-text-container {
      width: 75%;

      p {
        margin-block: 0;
        width: 100%;
        padding-right: $P99;
        font-size: $P24;
        font-weight: 400;
      }
    }

    .about-bio-container {
      margin: $P99 0 0 25%;
    }

    .about-statement-container,
    .about-download-container {
      margin: $P66 0 0 25%;
    }

    .about-download-container {
      margin-bottom: $P66;

      .about-download-item {
        font-size: $P24;
        font-weight: 500;
        text-transform: uppercase;
        color: #000;
      }
    }
  }
}
