---
---

@import "constants";

.about-page-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  .menu-container {
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    min-width: 200px;
    height: 100vh;
    padding: 2.34vw 12px 1.72vw 1.72vw;
    background-color: #fff;

    .menu-title-container {
      width: 100%;
      padding: 5.15vw 0 1.72vw;

      .menu-title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2.5vw;
        color: #000;
      }
    }

    .menu-contact-container {
      .menu-contact-item {
        display: block;
        font-size: 1.25vw;
        font-weight: 500;
        color: #222;
        text-decoration: none;
        transition: opacity 0.1s linear;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    .menu-newsletter-container {
      padding: 1.72vw 0 3.44vw;

      .menu-newsletter-intro {
        font-size: 1.25vw;
        font-weight: 500;
        color: #222;
      }
    }
  }

  .about-container {
    width: 80%;
    flex-grow: 1;
    margin: 0 auto;

    img {
      display: block;
      width: 100%;
      padding: 3.44vw 5.15vw 0;
    }

    .about-bio-container,
    .about-statement-container,
    .about-download-container {
      width: 75%;

      p {
        margin-block: 0;
        width: 100%;
        padding-right: 5.15vw;
        font-size: 1.25vw;
        font-weight: 400;
      }
    }

    .about-bio-container {
      margin: 5.15vw 0 0 25%;
    }

    .about-statement-container,
    .about-download-container {
      margin: 3.44vw 0 0 25%;
    }

    .about-download-container {
      margin-bottom: 3.44vw;

      .about-download-item {
        font-size: 1.25vw;
        font-weight: 500;
        text-transform: uppercase;
        color: #000;
      }
    }
  }
}
