---
---

@import "constants";

.info-page-container {
  .menu-content-container {
    .org-option {
      display: inline-block;
      padding: 8px;
      cursor: pointer;
      user-select: none;

      &.selected {
        opacity: 0.5;
        cursor: default;
      }
    }
  }

  .archive-container {
    margin-bottom: $P66;

    .project-list-container {
      display: none;
      width: 50%;
      margin: 0 auto;

      .project-list-subtitle {
        margin-top: $P21;
        font-size: $P27;
        font-weight: 500;
      }

      .project-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

      .archive-project-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-size: $P24;
        font-weight: 400;
        line-height: 1.33;
        width: 33%;
        height: 150px;

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .archive-project-link-text {
          width: 100%;
          padding: 0 12px;
          background-color: #000;
          color: #fff;
          text-decoration: none;
          text-align: center;
        }
      }
    }

    .archive-select-input {
      display: none;

      &:checked + .project-list-container {
        display: block;
      }
    }
  }
}
