---
---

@import 'constants';

.home-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background-color: #cdf400;
}

.home-category {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  user-select: none;

  .text {
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-size: 2.3rem;
  }

  {% for s in site.data.categories %}
  &.{{ s[0]}} {
    background-color: {{ s[1]['color'] }};
    align-items:  {{ s[1]['home-align'] }};
  }
  {% endfor %}
}
