---
---

@import 'constants';

.home-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.home-category {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: var(--align-items);
  background-color: var(--category-color);
  user-select: none;
  text-decoration: none;
  transition: opacity 0.1s linear;

  &:hover {
    opacity: 0.9;
  }

  .text {
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-size: 2.3rem;
  }
}

.home-container.img-test {
  .home-category {
    background-image: var(--img-url);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;

    .text {
      padding: 0 8px;
      text-align: center;
      font-size: 2rem;
      background-color: #000;
      width: 100%;
    }
  }
}
