---
---

@import "constants";

.menu-container {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: column;
  justify-content: flex-start;
  width: 20%;
  min-width: 200px;
  height: 100vh;
  padding: 2.34vw 12px 1.72vw 1.72vw;
  background-color: $MENU_COLOR_BACKGROUND;

  .menu-title-container {
    width: 100%;
    padding: 5.15vw 0 1.72vw;

    .menu-title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 2.5vw;

      {% for s in site.data.categories %}
      &.{{ s[0]}} {
        color: {{ s[1]['color'] }};
      }
      {% endfor %}
    }
  }
  
  .menu-projects, .menu-categories {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
  }
  
  .menu-item {
    display: inline-block;
    text-decoration: none;
    font-size: 1.25vw;
    font-weight: 500;
    padding: 2px 0;
    color: $MENU_COLOR_ITEM;

    &.selected {
      color: $MENU_COLOR_ITEM_SELECTED;
      pointer-events: none;
    }
  }

  .menu-categories {
    justify-content: flex-end;

    .menu-item {
      font-weight: bold;
    }

    .menu-item.selected {
      {% for s in site.data.categories %}
      &.{{ s[0]}} {
        color: {{ s[1]['color'] }};
      }
      {% endfor %}
    }
  }

}
