---
---

.overlay-container {
  width: 100%;
  height: 100vh;
  pointer-events: none;
  display: block;
  position: fixed;
  z-index: 10;

  .overlay-link {
    pointer-events: all;
    position: absolute;
    text-decoration: none;
    color: #222;
    font-weight: 500;
    font-size: 1.2rem;
    transition: color linear 0.1s;

    &:hover {
      color: #aaa;
    }
  }

  .home-link {
    color: #444;
    font-size: 1.2rem;
  }

  .home-link.home {
    display: none;
  }

  .about-link {
    position: absolute;
    right: 0;
  }

  .about-link.about {
    display: none;
  }

  .contact-link {
    bottom: 0;
    transform-origin: bottom left;
    transform: rotate(-90.0deg) translate(0, 100%);
    display: none;
  }

  .archive-link {
    bottom: 0;
    right: 0;
  }

  .archive-link.list {
    display: none;
  }
}
