---
---

@import "constants";

.overlay-container {
  width: 100%;
  height: 100vh;
  pointer-events: none;
  display: block;
  position: fixed;
  z-index: 10;

  .overlay-link-container {
    display: inline;
    position: absolute;
    pointer-events: none;
    margin: $P21;

    &.overlay-about-container {
      right: 0;
      display: flex;
      flex-direction: row;
      gap: $P21;

      .archive-link {
        display: block;

        @include media-query(DESKTOP) {
          display: none;
        }
      }
    }

    &.overlay-archive-container {
      bottom: 0;
      right: 0;
      transform-origin: bottom left;
      transform: translate(100%, 0) rotate(-90.0deg);
      display: none;

      @include media-query(DESKTOP) {
        display: inline;
      }
    }
  }

  .overlay-link {
    display: block;
    pointer-events: all;
    text-decoration: none;
    font-weight: 500;
    font-size: $F27;
    transition: color $TRANSITION-PERIOD linear;

    @include media-query(DESKTOP) {
      font-size: $F21;
    }

    color: $OVERLAY_LINK_COLOR;
    &:hover {
      color: $OVERLAY_LINK_COLOR_HOVER;
    }
  }

  &.home {
    .overlay-link {
      color: $OVERLAY_LINK_COLOR_HOME;
      &:hover {
        color: $OVERLAY_LINK_COLOR_HOME_HOVER;
      }
    }
  }

  .home-link {
    &.home {
      cursor: default;
      color: $OVERLAY_LINK_COLOR_HOME;
    }
    &.home:hover {
      color: $OVERLAY_LINK_COLOR_HOME;
    }
    &.home:active {
      pointer-events: none;
    }
  }

  .about-link {
    &.about {
      cursor: default;
      color: $OVERLAY_LINK_COLOR_ACTIVE;
    }
    &.about:hover {
      color: $OVERLAY_LINK_COLOR_ACTIVE;
    }
    &.about:active {
      pointer-events: none;
    }
  }

  .archive-link {
    &.archive {
      cursor: default;
      color: $OVERLAY_LINK_COLOR_ACTIVE;
    }
    &.archive:hover {
      color: $OVERLAY_LINK_COLOR_ACTIVE;
    }
    &.archive:active {
      pointer-events: none;
    }
  }
}
