---
---

@import 'constants';

.project-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20%;
  height: 100vh;
  box-sizing: border-box;

  .menu-item {
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    &.selected {
      color: #999;
    }
  }

  {% for s in site.data.sections %}
  &.{{ s[0]}} {
    background-color: {{ s[1]['color'] }};
  }
  {% endfor %}
}

.content-container {
  flex-grow: 1;
}
