---
---

@import 'constants';
@import 'menu.css';

.project-page-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.project-container {
  flex-grow: 1;
  max-width: 900px;
  margin: 0 auto;

  img {
    display: block;
    width: 100%;
    cursor: pointer;
  }

  .project-cover-container {
    width: 100%;
    margin: 0 auto;
  }

  .project-info-container {
    width: 60%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;

    .project-title {
      width: 50%;
      font-size: 1.1rem;
      font-weight: 500;

      {% for s in site.data.categories %}
      &.{{ s[0]}} {
        color: {{ s[1]['color'] }};
      }
      {% endfor %}

    }

    .project-info {
      width: 50%;
    }
  }

  .project-content {
    width: 100%;
    margin: 0 auto;

    p {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      font-size: 1rem;
    }

    p:has(img) {
      width: 100%;
    }

    p.vertical:has(img) {
      width: 50%;
    }

    img + em {
      font-style: normal;
      font-size: 0.95rem;
      font-weight: 300;
    }

    .video-wrapper {
      width: 100%;
      position: relative;
      margin: 0 auto;
      height: 0;
      overflow: hidden;

      iframe, video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
