---
---

@import 'constants';
@import 'menu.css';

.project-page-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.project-container {
  width: 80%;
  flex-grow: 1;
  margin: 0 auto;

  img {
    display: block;
    width: 100%;
    cursor: pointer;
  }

  .project-cover-container {
    width: 100%;
    margin: 0 auto;

    img {
      padding: 5.15vw;
      padding-bottom: 0;
    }
  }

  .project-info-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    margin: 3.44vw auto 1.72vw;

    .project-title {
      width: 50%;
      font-size: 1.41vw;
      font-weight: 500;

      {% for s in site.data.categories %}
      &.{{ s[0]}} {
        color: {{ s[1]['color'] }};
      }
      {% endfor %}

    }

    .project-info {
      width: 50%;
      font-size: 1.25vw;
      line-height: 1.5;
    }
  }

  .project-content {
    width: 100%;
    margin: 0 auto;

    a {
      color: inherit;
      transition: opacity linear 0.1s;

      &:hover {
        opacity: 50%;
      }
    }

    p {
      width: 50%;
      margin: 0 auto;
      font-size: 1.25vw;

      & + p {
        margin-top: 3.44vw;
      }
    }

    p:has(img) {
      width: 100%;
      padding: 0 5.15vw;
    }

    p.vertical:has(img) {
      width: 50%;
      padding: 0;
    }

    img + em {
      font-style: normal;
      font-size: 1.09vw;
      font-weight: 300;
    }

    .video-wrapper {
      width: 100%;
      position: relative;
      margin: 3.44vw auto 0;
      height: 0;
      overflow: hidden;

      iframe, video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .html-video-container {
      video {
        display: block;
        margin: 3.44vw auto 0;
      }
    }

    .audio-wrapper {
      width: 100%;
      margin: 3.44vw auto 0;

      audio {
        display: block;
        width: 100%;
        padding: 0 5.15vw;
      }

      & + p {
        width: 100%;
        padding: 0 5.15vw;

        & em {
          font-style: normal;
          font-size: 1.09vw;
          font-weight: 300;
        }
      }
    }
  }
}
