<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{site.social.twitter_user}}">
<meta name="twitter:title" content="{{page.ptitle}}">
<meta name="twitter:creator" content="@{{site.social.twitter_user}}">

<meta property="og:title" content="{{page.ptitle}}">
<meta property="og:type" content="article">
<meta property="og:url" content="{{page.url | absolute_url }}">
<meta property="og:site_name" content="{{site.title}}">
<meta property="article:publisher" content="{{site.social.facebook_user}}">

{% assign description = page.content | strip_html | strip_newlines | truncatewords:8 %}

{% unless description.size > 0 %}
  {% assign description = site.description %}
{% endunless %}
<meta name="twitter:description" content="{{ description }}">
<meta property="og:description" content="{{ description }}">

{% assign page_cover = "imgs/covers/cover.jpg" | absolute_url %}

{% if page.cover %}
  {% assign page_cover = page.cover | absolute_url %}
{% endif %}

<meta name="twitter:image" content="{{ page_cover }}">
<meta property="og:image" content="{{ page_cover }}">
