<head>
  {% if page.redirect %}
  <meta http-equiv="Refresh" content="0; url='{{ page.redirect }}'" />
  {% endif %}

  {% include head/head-meta.html %}
  {% include head/head-lang.html %}

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ 'css/main.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'css/L.css' | replace: 'L', page.layout | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/simplelightbox/simple-lightbox.min.css' | relative_url }}">

  <link rel="icon" href="{{ 'imgs/favicons/favicon.ico' | relative_url }}" sizes="any">
  <link rel="icon" href="{{ 'imgs/favicons/favicon.svg' | relative_url }}" type="image/svg+xml">

  {% assign meta_description = page.content | strip_html | strip_newlines | truncatewords: 25 %}
  {% assign meta_description_length = meta_description | size %}
  {% if meta_description_length < 10 %}
    {% assign meta_description = site.description %}
  {% endif %}
  <meta name="description" content="{{ meta_description }}">
  <meta name="title" content="{{ page.ptitle }}">

  <title>{{ page.ptitle }}</title>
</head>
