<div class="home-container {{page.test}}">
  {% for s in site.data.categories %}
    {% assign cat_pages = lang_pages | where: "category", s[0] %}
    {% assign home_project = cat_pages | where_exp: "p", "p.name contains s[1]['feat-project']" | first %}

    {% unless home_project %}
      {% assign home_project = cat_pages | sort: "year" | reverse | first %}
    {% endunless %}

    {% assign catCoverUrl = home_project.cover | relative_url %}

    {% assign style = "--img-url:url(UUU);" | replace: "UUU", catCoverUrl
            | append: "--category-color:CCC;" | replace: "CCC", s[1]["color"]
            | append: "--align-items:AAA;" | replace: "AAA", s[1]["home-align"] %}

    <a class="home-category" href="{{ home_project.url | relative_url }}" style="{{ style }}">
      <div class="text">{{ s[1][page.lang] }}</div>
    </a>
  {% endfor %}
</div>
