<div class="list-container">
  <div class="list-title">{{ page.ptitle }}</div>
  <div class="project-list-container">
    {% for c in site.data.categories %}
      {% assign cat_pages = lang_pages | where:"category",c[0] %}
      {% assign ordered_cat_pages = cat_pages | sort: "year" | reverse %}
      <div class="category-title">{{ c[1][page.lang] }}</div>
      {% for p in ordered_cat_pages %}
        <div class="category-pages">
          <a href="{{ p.url | relative_url }}">
            {{ p.ptitle }} ({{ p.year }})
          </a>
        </div>
      {% endfor %}
    {% endfor %}

    {% assign proj_pages = lang_pages | where:"layout","project" %}
    {% assign ordered_proj_pages = proj_pages | sort: "year" | reverse %}
    {% assign last_year = "" %}

    {% for p in ordered_proj_pages %}
      {% assign p_year = p.year | split:" - " | first %}
      {% if p_year != last_year%}
        <div class="category-title">{{ p_year }}</div>
          {% assign last_year = p_year %}
      {% endif %}
      <div class="category-pages">
        <a href="{{ p.url | relative_url }}">
          {{ p.ptitle }} ({{ site.data.categories[p.category][page.lang] }})
        </a>
      </div>
    {% endfor %}

  </div>
</div>
