{% assign home_url = "/L/" | replace: "L", page.lang | replace: "/en", "" %}
{% assign about_url = home_url | append: "about" %}
{% assign archive_url = home_url | append: "archive" %}
{% assign page_name = page.name | replace: ".md", "" %}

{% if page_name contains "index" %}
  {% assign page_name = "home" %}
{% endif %}

<div class="overlay-container {{ page_name }}">
  <div class="overlay-link-container overlay-home-container">
    <a class="overlay-link home-link {{ page_name }}" href="{{ home_url | relative_url }}">
      MariNagem
    </a>
  </div>

  <div class="overlay-link-container overlay-about-container">
    <a class="overlay-link archive-link {{ page_name }}" href="{{ archive_url | relative_url }}">
      archive
    </a>
    <a class="overlay-link archive-link">|</a>
    <a class="overlay-link about-link {{ page_name }}" href="{{ about_url | relative_url }}">
      about
    </a>
  </div>

  <div class="overlay-link-container overlay-archive-container">
    <a class="overlay-link archive-link {{ page_name }}" href="{{ archive_url | relative_url }}">
      archive
    </a>
  </div>
</div>
