{% assign cat_pages = lang_pages | where:"category", page.category %}
{% assign category_page = cat_pages | where_exp:"p","p.path contains '/list/'" | first %}
{% assign cat_title = site.data.categories[page.category][page.lang] %}

<div class="project-page-container">
  {% include menu.html %}
  <div class="project-container">
    <div class="project-cover-container">
      <img src="{{ page.cover | relative_url }}">
    </div>

    {% if page.year %}
      <div class="project-category-title-container {{ page.category }}">
        <a class="project-category-title" href=" {{ category_page.url | relative_url }}">
          {{ cat_title }}
        </a>
      </div>

      <div class="project-info-container">
        <div class="project-title {{ page.category }}">
          {{ page.ptitle }}, {{ page.year }}
        </div>

        <div class="project-info">
          {{ page.medium }}<br/>
          {{ page.dimensions }}
        </div>
      </div>
    {% endif %}

    <div class="project-content">
      {{ content }}
    </div>
  </div>
</div>
<script src="{{ 'assets/simplelightbox/simple-lightbox.min.js' | relative_url }}"></script>
<script src="{{ 'js/lightbox.js' | relative_url }}"></script>
