$TEXT-COLOR: #444;
$BACKGROUND-COLOR: #fff;

$OVERLAY_LINK_COLOR: #444;
$OVERLAY_LINK_COLOR_HOVER: #777;
$OVERLAY_LINK_COLOR_ACTIVE: #fc4402;
$OVERLAY_LINK_COLOR_HOME: #fff;
$OVERLAY_LINK_COLOR_HOME_HOVER: #ccc;

$MENU_COLOR_BACKGROUND: #bbb;
$MENU_COLOR_ITEM: #666;
$MENU_COLOR_ITEM_SELECTED: #fff;

$TRANSITION-PERIOD: 0.1s;

$WIDTH_DESKTOP_LARGE: 1400px;
$WIDTH_DESKTOP_MEDIUM: 1100px;
$WIDTH_DESKTOP_SMALL: 800px;

@mixin media-query($canvas) {
  @if $canvas == "DESKTOP_L" {
    @media only screen and (min-width: $WIDTH_DESKTOP_LARGE) { @content; }
  } @else if $canvas == "DESKTOP_M" {
    @media only screen and (min-width: $WIDTH_DESKTOP_MEDIUM) { @content; }
  } @else if ($canvas == "DESKTOP_S")  or ($canvas == "DESKTOP") {
    @media only screen and (min-width: $WIDTH_DESKTOP_SMALL) { @content; }
  }
}

:root {
  --pu: 0.4px;
  --fu: 0.5px;

  --p18: calc(18 * var(--pu));
  --p21: calc(21 * var(--pu));
  --p24: calc(24 * var(--pu));
  --p27: calc(27 * var(--pu));
  --p33: calc(33 * var(--pu));
  --p45: calc(45 * var(--pu));
  --p48: calc(48 * var(--pu));
  --p54: calc(54 * var(--pu));
  --p66: calc(66 * var(--pu));
  --p99: calc(99 * var(--pu));

  --f18: calc(18 * var(--fu));
  --f21: calc(21 * var(--fu));
  --f24: calc(24 * var(--fu));
  --f27: calc(27 * var(--fu));
  --f48: calc(48 * var(--fu));

  @include media-query(DESKTOP_S) {
    --pu: 0.5px;
    --fu: 0.5px;
  }

  @include media-query(DESKTOP_M) {
    --pu: 0.66px;
    --fu: 0.66px;
  }

  @include media-query(DESKTOP_L) {
    --pu: calc(10vw / 192);
    --fu: calc(10vw / 192);
  }
}

// TODO: probably just use var() in css
$P18: var(--p18);
$P21: var(--p21);
$P24: var(--p24);
$P27: var(--p27);
$P33: var(--p33);
$P45: var(--p45);
$P48: var(--p48);
$P54: var(--p54);
$P66: var(--p66);
$P99: var(--p99);

$F18: var(--f18);
$F21: var(--f21);
$F24: var(--f24);
$F27: var(--f27);
$F48: var(--f48);
