$TEXT-COLOR: #444;
$BACKGROUND-COLOR: #fff;

$OVERLAY_LINK_COLOR: #444;
$OVERLAY_LINK_COLOR_HOVER: #00cdf4;
$OVERLAY_LINK_COLOR_ACTIVE: hotpink;
$OVERLAY_LINK_COLOR_HOME: #fff;
$OVERLAY_LINK_COLOR_HOME_HOVER: #cdf400;

$MENU_COLOR_BACKGROUND: #bbb;
$MENU_COLOR_ITEM: #666;
$MENU_COLOR_ITEM_SELECTED: #fff;

$TRANSITION-PERIOD: 0.12s;
$DESKTOP_WITH: 800px;

@mixin media-query($canvas) {
  @if $canvas == DESKTOP {
    @media only screen and (min-width: $DESKTOP_WITH) {
      @content;
    }
  }
}
