<div class="archive-container">
  {% assign lang_pages = site.html_pages | where: "lang",page.lang %}

  <input type="radio" name="archive-list-select" class="archive-select-input" id="select-category" checked>
  <div class="project-list-container">

    {% for c in site.data.categories %}
      {% assign cat_pages = lang_pages | where:"category",c[0] %}
      {% assign ordered_cat_pages = cat_pages | sort: "year" | reverse %}

      <div class="project-list-subtitle">{{ c[1][page.lang] }}</div>

      <div class="project-list">
        {% for p in ordered_cat_pages %}
          <a class="archive-project-link" href="{{ p.url | relative_url }}" style="background-image: url('{{ p.cover | relative_url }}');">
            <div class="archive-project-link-text">
              {{ p.ptitle | split: " | " | first }} ({{ p.year }})
            </div>
          </a>
        {% endfor %}
      </div>
    {% endfor %}
  </div>

  <input type="radio" name="archive-list-select" class="archive-select-input" id="select-year">
  <div class="project-list-container">
    {% assign proj_pages = lang_pages | where:"template","project" %}
    {% assign ordered_proj_pages = proj_pages | sort: "year" | reverse %}
    {% assign last_year = "" %}

    {% for p in ordered_proj_pages %}
      {% assign p_year = p.year | split:" - " | first %}
      {% if p_year != last_year %}
        {% unless forloop.first %}</div>{% endunless %}
        <div class="project-list-subtitle">{{ p_year }}</div>
        <div class="project-list">
        {% assign last_year = p_year %}
      {% endif %}
          <a class="archive-project-link" href="{{ p.url | relative_url }}" style="background-image: url('{{ p.cover | relative_url }}');">
            <div class="archive-project-link-text">
              {{ p.ptitle | split: " | " | first }}
            </div>
          </a>
    {% endfor %}
        </div>
  </div>
</div>
