{% include lang.html %}

<html lang="{{ lang_bcp47 }}">
  {% include head.html layout="project" %}
  <body>
    {% include overlay.html %}
    <div class="project-container">
      {% include menu.html %}
      <div class="content-container">
        <div class="project-cover-container">
          {% if page.cover %}
            <img src="{{ page.cover | relative_url }}">
          {% endif %}
        </div>
        <div class="project-info-container">
          <div class="project-title {{ page.category }}">
            {{ page.ptitle }}, {{ page.year }}
          </div>
          <div class="project-info">
            {{ page.description }}<br/>
            {{ page.medium }}
          </div>
        </div>
        <div class="project-text">
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
