{% include lang.html %}

<html lang="{{ lang_bcp47 }}">
  {% include head.html layout="project" %}
  <body>
    <div class="project-container">
      <div class="menu-container {{ page.category }}">
        {% include menu.html %}
      </div>
      <div class="content-container">
        {{ page.ptitle }}<br/>
        {{ page.year }}<br/>
        {{ page.medium }}<br/>
        {{ site.data.sections[page.category][page.lang] }} <br/>
        {{ page.cover }}
      </div>
    </div>
  </body>
</html>
